@import "../variables";
@import "../mixins";

.about {
  @extend %space-reset;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;

  h1 {
    color: $yellow;
  }
  h6 {
    color: $red;
  }

  .avitar {
    max-width: 12em;
    img {
      border-radius: 5px;
    }
  }
}
