@import "../variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: lighten($dark, 10%);
}
