{
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "src",
            "./src"
          ],
          [
            "styled",
            "./src/styled"
          ],
          [
            "theme",
            "./src/styled/theme.js"
          ],
          [
            "src/data",
            "./src/data.js"
          ],
          [
            "src/state",
            "./src/state"
          ],
          [
            "@",
            "./src/components"
          ],
          [
            "elements",
            "./src/styled/elements.js"
          ],
          [
            "theme",
            "./src/styled/theme.js"
          ],
          [
            "state",
            "./src/state"
          ],
          [
            "forms",
            "./src/components/forms"
          ]
        ],
        "extensions": [
          ".js"
        ]
      }
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": [
    "wesbos",
    "prettier"
  ],
  "rules": {
    "no-shadow": "off",
    "react/display-name": "off",
    "sort-imports": "error"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ]
}
