[submodule "gwtuts/react-peekaboo-navbar"]
	path = gwtuts/react-peekaboo-navbar
	url = https://github.com/gwtuts/react-peekaboo-navbar.git
[submodule "gwtuts/react-navbar-scroller"]
	path = gwtuts/react-navbar-scroller
	url = https://github.com/gwtuts/react-navbar-scroller.git
[submodule "gwtuts/styled-container"]
	path = gwtuts/styled-container
	url = https://github.com/gwtuts/styled-container.git
[submodule "src/favicons"]
	path = src/favicons
	url = https://github.com/glweems/gw-favicon
