$lg: '960px';
$md: '720px';
$sm: '540px';

// Small devices
@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}
