:root {
  --light: #f7f7f7;
  --dark: #1a1e28;
  --muted: #c6c7c6;
  --red: #d65947;
  --green: #c3e28a;
  --yellow: #f8d58c;
  --blue: #89cefa;
  --purple: #d0c1fa;
  --mint: #a7e3cc;
  --bg: #1f242f;
}

$light: #f7f7f7;
$dark: #1a1e28;
$muted: #c6c7c6;
$red: #d65947;
$green: #c3e28a;
$yellow: #f8d58c;
$blue: #89cefa;
$purple: #d0c1fa;
$mint: #a7e3cc;
$bg: #1f242f;
