@import 'variables';
@import 'mixins';
@import '../../node_modules/normalize-scss/sass/normalize';

body {
  background: $dark;
  color: $light !important;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  box-sizing: content-box;
  padding: 0;
  overflow: visible;
  color: $dark;
  line-height: normal;
  background: none;
  border: 0;

  :focus {
    outline: none;
  }
}
