@import 'variables';
@import 'mixins';

html {
  width: 100%;
}

div {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex !important;
  flex-direction: row !important;
}

%space-reset {
  margin: 0;
  padding: 0;
  * {
    margin: 0;
    padding: 0;
  }
}

.tags {
  @extend %space-reset;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  text-overflow: hidden;
  // line-height: 22px;
  // max-height: 22px;
  .tag {
    background: lighten($dark, 20%);
    border-radius: 0.1em;
    font-size: 13px;
    padding: 0 0.4em 0.3em;
    color: $muted;
    margin-right: 0.75em;
  }
  .tag:nth-child(4) {
    display: none;
  }
  .tag:nth-child(5) {
    display: none;
  }
  .tag:nth-child(6) {
    display: none;
  }
}

body {
  max-width: 100%;
  overflow: hidden;
  // color: $light;
  // background: $dark;
}

a {
  color: light;
  text-decoration: inherit;
}

img {
  margin: 0;
  padding: 0;
  background: none !important;
}

small {
  color: $muted;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  box-sizing: content-box;
  padding: 0;
  overflow: visible;
  color: $dark;
  line-height: normal;
  background: none;
  border: 0;

  :focus {
    outline: none;
  }
}

.bm-item {
  :hover {
    color: $dark;
  }
  text-decoration: none;
  transition: color 0.2s;
}

.bm-morph-shape {
  fill: $light;
}

.bm-item-list {
  color: $dark;
}

.bm-overlay {
  background: $dark;
}

article {
  * {
    max-width: 100vh;
  }
  display: grid;
  grid-template-columns: 100%;
  @include breakpoint(xs) {
    grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
  }
}
