html,
body {
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

@keyframes spTexture {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -16px 0px;
  }
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.dark-mode a {
  color: var(--color-yellow);
}
.dark-mode a:hover {
  text-decoration: underline;
}

svg {
  line-height: 0;
  margin: 0;
}

img {
  border-radius: 0.125rem;
}

.date *,
.date :before,
.date :after {
  box-sizing: inherit;
}

.date {
  display: block;
  padding: 5px 10px;
  color: inherit;
  color: var(--color-text-secondary);
  font-size: 15px;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 22px;
  text-decoration: none;
  border-radius: 3px;
}
