.light-mode code[class*='language-'],
.light-mode pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: #90a4ae;
  background: #fafafa;
  font-family: Roboto Mono, monospace;
  font-size: 1em;
  line-height: 1.5em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.light-mode code[class*='language-']::-moz-selection,
.light-mode pre[class*='language-']::-moz-selection,
.light-mode code[class*='language-'] ::-moz-selection,
.light-mode pre[class*='language-'] ::-moz-selection {
  background: #cceae7;
  color: #263238;
}
.light-mode code[class*='language-']::selection,
.light-mode pre[class*='language-']::selection,
.light-mode code[class*='language-'] ::selection,
.light-mode pre[class*='language-'] ::selection {
  background: #cceae7;
  color: #263238;
}
.light-mode :not(pre) > code[class*='language-'] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.1em;
}
.light-mode pre[class*='language-'] {
  overflow-x: auto;
  position: relative;
  margin: 0.5em 0;
  padding: 1.25em 1em;
}
.light-mode .language-css > code,
.light-mode .language-sass > code,
.light-mode .language-scss > code {
  color: #f76d47;
}
.light-mode [class*='language-'] .namespace {
  opacity: 0.7;
}
.light-mode .token.atrule {
  color: #7c4dff;
}
.light-mode .token.attr-name {
  color: #39adb5;
}
.light-mode .token.attr-value {
  color: #f6a434;
}
.light-mode .token.attribute {
  color: #f6a434;
}
.light-mode .token.boolean {
  color: #7c4dff;
}
.light-mode .token.builtin {
  color: #39adb5;
}
.light-mode .token.cdata {
  color: #39adb5;
}
.light-mode .token.char {
  color: #39adb5;
}
.light-mode .token.class {
  color: #39adb5;
}
.light-mode .token.class-name {
  color: #6182b8;
}
.light-mode .token.comment {
  color: #aabfc9;
}
.light-mode .token.constant {
  color: #7c4dff;
}
.light-mode .token.deleted {
  color: #e53935;
}
.light-mode .token.doctype {
  color: #aabfc9;
}
.light-mode .token.entity {
  color: #e53935;
}
.light-mode .token.function {
  color: #7c4dff;
}
.light-mode .token.hexcode {
  color: #f76d47;
}
.light-mode .token.id {
  color: #7c4dff;
  font-weight: bold;
}
.light-mode .token.important {
  color: #7c4dff;
  font-weight: bold;
}
.light-mode .token.inserted {
  color: #39adb5;
}
.light-mode .token.keyword {
  color: #7c4dff;
}
.light-mode .token.number {
  color: #f76d47;
}
.light-mode .token.operator {
  color: #39adb5;
}
.light-mode .token.prolog {
  color: #aabfc9;
}
.light-mode .token.property {
  color: #39adb5;
}
.light-mode .token.pseudo-class {
  color: #f6a434;
}
.light-mode .token.pseudo-element {
  color: #f6a434;
}
.light-mode .token.punctuation {
  color: #39adb5;
}
.light-mode .token.regex {
  color: #6182b8;
}
.light-mode .token.selector {
  color: #e53935;
}
.light-mode .token.string {
  color: #f6a434;
}
.light-mode .token.symbol {
  color: #7c4dff;
}
.light-mode .token.tag {
  color: #e53935;
}
.light-mode .token.unit {
  color: #f76d47;
}
.light-mode .token.url {
  color: #e53935;
}
.light-mode .token.variable {
  color: #e53935;
}

.dark-mode code[class*='language-'],
.dark-mode pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: #eee;
  background: #1b1f2e;
  font-family: Roboto Mono, monospace;
  font-size: 1em;
  line-height: 1.5em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.dark-mode code[class*='language-']::-moz-selection,
.dark-mode pre[class*='language-']::-moz-selection,
.dark-mode code[class*='language-'] ::-moz-selection,
.dark-mode pre[class*='language-'] ::-moz-selection {
  background: #363636;
}
.dark-mode code[class*='language-']::selection,
.dark-mode pre[class*='language-']::selection,
.dark-mode code[class*='language-'] ::selection,
.dark-mode pre[class*='language-'] ::selection {
  background: #363636;
}
.dark-mode :not(pre) > code[class*='language-'] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.1em;
}
.dark-mode pre[class*='language-'] {
  overflow-x: auto;
  position: relative;
  margin: 0.5em 0;
  padding: 1.25em 1em;
}
.dark-mode .language-css > code,
.dark-mode .language-sass > code,
.dark-mode .language-scss > code {
  color: #fd9170;
}
.dark-mode [class*='language-'] .namespace {
  opacity: 0.7;
}
.dark-mode .token.atrule {
  color: #c792ea;
}
.dark-mode .token.attr-name {
  color: #ffcb6b;
}
.dark-mode .token.attr-value {
  color: #a5e844;
}
.dark-mode .token.attribute {
  color: #a5e844;
}
.dark-mode .token.boolean {
  color: #c792ea;
}
.dark-mode .token.builtin {
  color: #ffcb6b;
}
.dark-mode .token.cdata {
  color: #80cbc4;
}
.dark-mode .token.char {
  color: #80cbc4;
}
.dark-mode .token.class {
  color: #ffcb6b;
}
.dark-mode .token.class-name {
  color: #f2ff00;
}
.dark-mode .token.comment {
  color: #616161;
}
.dark-mode .token.constant {
  color: #c792ea;
}
.dark-mode .token.deleted {
  color: #ff6666;
}
.dark-mode .token.doctype {
  color: #616161;
}
.dark-mode .token.entity {
  color: #ff6666;
}
.dark-mode .token.function {
  color: #c792ea;
}
.dark-mode .token.hexcode {
  color: #f2ff00;
}
.dark-mode .token.id {
  color: #c792ea;
  font-weight: bold;
}
.dark-mode .token.important {
  color: #c792ea;
  font-weight: bold;
}
.dark-mode .token.inserted {
  color: #80cbc4;
}
.dark-mode .token.keyword {
  color: #c792ea;
}
.dark-mode .token.number {
  color: #fd9170;
}
.dark-mode .token.operator {
  color: #89ddff;
}
.dark-mode .token.prolog {
  color: #616161;
}
.dark-mode .token.property {
  color: #80cbc4;
}
.dark-mode .token.pseudo-class {
  color: #a5e844;
}
.dark-mode .token.pseudo-element {
  color: #a5e844;
}
.dark-mode .token.punctuation {
  color: #89ddff;
}
.dark-mode .token.regex {
  color: #f2ff00;
}
.dark-mode .token.selector {
  color: #ff6666;
}
.dark-mode .token.string {
  color: #a5e844;
}
.dark-mode .token.symbol {
  color: #c792ea;
}
.dark-mode .token.tag {
  color: #ff6666;
}
.dark-mode .token.unit {
  color: #fd9170;
}
.dark-mode .token.url {
  color: #ff6666;
}
.dark-mode .token.variable {
  color: #ff6666;
}
